.page {
    margin-top: 5px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    width: 100%;
}

body {
    background-color: #d1e9e9;
    color: #2e6ca2;
    width: 100%;
}

.flex-container {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.image_column {
    flex: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.right_col {
    flex: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.image_column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right_col img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user_input {
    flex: 1;
    width: 100%;
    text-align: left;
}

.suggestions {
    flex: 1;
    width: 100%;
    text-align: center;
}

.suggestion {
    fill: #d1e9e9;
}

.search_button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: #2b9927;
}

.input_box {
    width: 60%;
    border: 2px #2e6ca2;
    border-radius: 5px;
}

.dropdown {
    background-color: #d1e9e9;
    border: 1px solid #2e6ca2;
    border-radius: 5%;
    width: 60%;
}

.add_button {
    width: 50px;
    height: 30px;
    color: #2e6ca2;
}

textarea {
    background: #d1e9e9;
    border: 2px solid #2e6ca2; 
    border-radius: 5%;
}


/* Style the dropdown list */
.autocomplete_suggestion {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* Style the selected item */
.ui-menu-item-wrapper {
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    display: block;
    text-align: inherit;
    cursor: pointer;
    border-radius: 4px;
}

/* Style the selected item when it's hovered over */
.ui-menu-item-wrapper:hover,
.ui-menu-item-wrapper:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}
