<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/staticFiles/style.css">
    <title>Recipe Recommendation System</title>
</head>
<body>
    <div class="page">
    <div>
        <h1>Recipe Recommendation System</h1>
    </div>
    <div class="flex-container">
    <div class = "user_input">
        <form action="get_text" method="POST">
            <input type="hidden" name="ingredients" value="{{ request.form.recipe_ingredients }}">  
            <label for="name">Name of Recipe:</label>
            <br>
            <input type="text" id="name" name="recipe_name" placeholder="Recipe Name...">
            <br><br>
            
                <label for="dropdown">Recipe Type:</label>
                <br>
                <select name="recipe_types">
                    {% for type in recipe_types %}
                      <option value="{{type}}">{{ type }}</option>
                    {% endfor %}
                </select>
                <button id="search_button" type="search_button">Search</button>
           
            <br><br>
                <label for="dropdown">Course:</label>
                <br>
                <select name="courses">
                    {% for course in courses %}
                      <option value="{{course}}">{{ course }}</option>
                    {% endfor %}
                </select>
            
            <br><br>
                <label for="dropdown">Cooking Technique:</label>
                <br>
                <select name="techniques">
                    {% for technique in techniques %}
                      <option value="{{technique}}">{{ technique }}</option>
                    {% endfor %}
                </select>
            <br><br>
                <label for="dropdown">Cuisine:</label>
                <br>
                <select name="cuisines">
                    {% for cuisine in cuisines %}
                      <option value="{{cuisine}}">{{ cuisine }}</option>
                    {% endfor %}
                </select>
            <br><br>
            <label for="dropdown">Select Friend</label>
                <br>
                <select name="users">
                    {% for user in users %}
                      <option value="{{user}}">{{ user }}</option>
                    {% endfor %}
                </select>
            <br><br>
            <label for="ingredients">Enter an Ingredient:</label>
        </form>
        <br>
        <form action="print_list" method="POST">
            <input type="text" id="ingredients" name="recipe_ingredients" placeholder="List of Ingredients">
            <p>Current Ingredients: {{ string_value }}</p>
            <button type="submit">Add</button>
        </form>
        <form action="clear_results" method="POST">
            <button id="add-button" type="submit">Clear</button>
        </form>
    </div>
    
    <div class="suggestions">
        Suggestion:
        <output class="output" type="text" id="output" name="recipe_output" placeholder="Suggestion Here..."></output>
    </div>
    </div>
    
</body>
</html>